<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FavQs API APP</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>